[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
mypy = "*"
sphinx = "*"

[packages]
colon = {editable = true,path = "."}

[requires]
python_version = "3.7"
